# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
target
.user.yml
*.csv

# VS Code
.vscode/
.dagster_home/

# Logs
logs/
*.log

# Raw Data
data/raw/

# Telegram Session
*.session
*.session-journal

#